<div class="page-container">
  <!-- Start Error Section -->
  <div 
    *ngIf="showSuccessMessage || showErrorMessage"  
    class="errorContainer"
  >
    <div
      *ngIf="showSuccessMessage" 
      class="alert alert-success alert-dismissible fade show"
    >
      <strong>{{successMessage}}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div
      *ngIf="showErrorMessage" 
      class="alert alert-danger alert-dismissible fade show"
    >
      <strong>{{errorMessage}}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <!-- End Error Section -->
  <form 
    class="form-signin"
    [formGroup]="profileForm" 
    (ngSubmit)="onSubmit()"
  >
    <img class="tt-logo mb-4" src="assets/tt_logo.jpg" alt="">
    <h1 class="h3 mb-3 font-weight-normal">
      {{currentRoute === 'login' ? 'Login' : 'Register'}}
    </h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input 
      type="email"
      id="inputEmail"
      class="form-control"
      placeholder="Email address"
      autofocus
      formControlName="email"
    >
    
    <label for="inputPassword" class="sr-only">Password</label>
    <input 
      type="password" 
      id="inputPassword"
      class="form-control"
      placeholder="Password"
      formControlName="password"
    >
    <button 
      class="btn btn-lg btn-primary btn-block" 
      type="submit"
      [disabled]="!profileForm.valid"
    >
      {{currentRoute === 'login' ? 'Login' : 'Register'}}
    </button>
  </form>
</div>