.page-container {
  justify-content: flex-start;
}

.balance-container {
  margin: 4rem 0 3rem 0;
}

#form-modal-button {
  display: none;
}

.transactions {
  td {
    i:hover {
      cursor: pointer;
    }

    &.edit > i {
      color: green;
    }
    
    &.delete > i {
      color: red;
    }
  }
}

.form-new-transaction {
  select, input, textarea {
    margin: 0.5rem 0;
  }
}